@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Add your custom styles here */
body {
  @apply antialiased;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}